* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color:rgb(245, 217, 217);
 
   
}
.title {
    left: 0;
    top: 0;
}
.color{
    position: fixed;
    background-color: cadetblue;
    width: 100%;
    height: 80px;
    top: -1px;
    z-index: 1;
}
.color h1 {
    position: fixed;
    margin-left: 40%;
    margin-top: 15px;
    font-size: 30px;
    color:black;
   
   

}
.container {
    position: relative;
    left: 20%;
    margin-top: 80px;
    height: 80%;
    padding: px;
    width: 50%;
    top: 20px;
    
}
.form input {
    display: block;
    position: center;
    width: 650px;
    border-radius: 4px;
    border: blue solid 2px;
    background-color: white;
    padding: 5px;


   
}
.form input[type="submit"] {
    color:mintcream;
    background-color:darkturquoise;
    width: 100px;
    font-size: 16px;
    border-radius: 4px;
}
.form input[type="submit"]:hover {
    color:black;
    background-color: cadetblue;
    transition: .4s;
    cursor: pointer;
    display: inline-block;

}
.form input[type="date"]{
    width: 160px;
   

}
.form select {
    width: 150px;
    height: 30px;
    border: blue solid 1px;
    border-radius: 4px; 
}
.btn {
      margin-bottom: 40px;
}

