* {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url(../img/foto1.jpg);
    background-size: cover;
}
.title {
    position: fixed;
    left:39%;
    top: 13%;
    z-index: 1;
    
}
.title h1 {
    font-size: 30px;
    color:white;
    border: 2px solid  rgb(14, 30, 59);
    background-color: teal;
    border-radius: 7px;
    width: 112%;
    

}
.form {
    position: fixed;
    left: 34%;
    top: 10%;
}
.form label {
    display: block;
    padding: 4px;
    color:rgb(10, 1, 1);
    margin-top: 60px;
}
.form input {
    width: 99%;
    height: 40px;
   margin-top: 15px;
   border-radius: 7px;
 
}
.form input[type=submit] {
    color: rgb(16, 29, 3);
    width: 30%;
    font-size: 14px;
    margin-top: -5px;
    background-color: cornflowerblue;
    cursor: pointer;

}
.form {
    width: 370px;
    height: 400px;
    padding: 10px;
    border-radius: 12px;
    border: 4px solid rgb(134, 134, 99);
    background-color: cadetblue;
}
.form input[type=submit]:hover {
    transition: .6s;
    color: cornsilk;
    background-color: darkblue;

}
.inicio a {
    position: fixed;
    color: rgb(87, 23, 238);
    margin-top: 10px;
}