
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/foto3.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.title {
    position: fixed;
    color:white;
    top: 10px;
    margin-top: -10px;
    text-align: center;
    left: 5%;
}
.link {
    position: fixed;
    color:white;
    left: 40%;
    top: 2px;
}
 .left {
position: fixed;
right: 30px;
top: 19px;;
}
.left ul li {
    display: inline-block;
    padding: 2px;
    top: 2px;
}
.left  li a {
    color: white
}
.lista ul li  {
    display: inline-block;
    padding: 20px;
  
}
.link a {
    text-decoration: none;
    color: cornsilk;
}
header {
    background-color:rgb(92, 92, 93);
    position: fixed;
    width: 100%;
    height: 13%;
}
 a:hover {
    color:fuchsia;
    background-color:blue;
    border: solid transparent;
    transition: .3s;
}
.container {
    background-image: url(img.jpg);
    background-size: cover;
}
